@font-face {
  font-family: "Nunito";
  src: url("https://prakashdiana.github.io/fonts/Nunito/Nunito-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("https://prakashdiana.github.io/fonts/Nunito/Nunito-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("https://prakashdiana.github.io/fonts/Nunito/Nunito-Italic.ttf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("https://prakashdiana.github.io/fonts/Nunito/Nunito-BoldItalic.ttf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("https://prakashdiana.github.io/fonts/Nunito/Nunito-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("https://prakashdiana.github.io/fonts/Nunito/Nunito-LightItalic.ttf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
